@font-face {
  font-family: 'Involve';
  src: url('../src/assets/fonts/Involve-VF.ttf');
}

:root {
  --font-family: 'Involve';

  // Font-weights
  --regular: 400;
  --semibold: 600;
  --bold: 700;

  // Цвета
  --primary-color: #212121;
  --primary-hover-color: #4d4d4d;
  --secondary-color: hsl(0, 0%, 4.941176470588237%);
  --secondary-hover-color: #2b2b2b;
  --base-0-color: #001235;
  --text-color: #ffffff;
  --title-color: #101010;
  --violet-color: #8774e1;
	--violet-hover-color:#907fe3;
  --secondary-text-color: #aaaaaa;
  --violetgrey-hover-color: #302d2e;
	--grey-secondary-color-50pct: #2b2b2b80;
	--error-color:#dc4a4a;
  //значение переменной - место с которого начинается перестроение на следующий макет

	--widthBig:1600px
	--widthLg:1400px
	--widthMd:1200px
	--widthSm:1000px
	--widthSx:767px
}

//название миксина - это ширина макета у дизайнера

@mixin _1440 {
	@media  screen and (max-width: var(--widthBig)) {
		@content;
	}
}

@mixin _1366 {
	@media  screen and (max-width: var(--widthLg)) {
		@content;
	}
}
@mixin _1024 {
	@media  screen and (max-width: var(--widthMd)) {
		@content;
	}
}
@mixin _768 {
	@media  screen and (max-width: var(--widthSm)) {
		@content;
	}
}

@mixin _320 {
	@media  screen and (max-width: var(--widthSx)) {
		@content;
	}
}

