@import '@/app/styles/variables/global.scss';

.MainLayout {
  padding: 8px;
  display: grid;
  grid-template-areas:
    'header children'
    'sidebar children';
  grid-template-columns: 1fr 3fr;
  column-gap: 8px;
  row-gap: 8px;
  height: 100%;
  @include _320 {
    grid-template-areas:
      'header '
      'sidebar';
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
}

.children {
  grid-area: children;
  justify-self: center;
  width: 100%;
  overflow: hidden;
  @include _320 {
    width: 0;
    height: 0;
  }
}

.header {
  grid-area: header;
  top: 0;
}

.sidebar {
  grid-area: sidebar;
}
